.image-service-info {
    position: relative;
    text-align: center;
    color: white;
}
.image-service-info img {
    width: 95%;
    border-radius: 0px;
    
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.service-info div {
    width: 100%;
    font-size: 34px;
    text-shadow: 3px 3px 5px black;
}