.signup-btn {
    top: 10px;
    right: 20px;
    position: absolute;
    font-size: 25px;
    color: black;
    border: 3px solid transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #1abad7, grey );
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.signup-btn span {
    display: block;
    padding: 5px 15px;
}

.signin-btn {
    top: 10px;
    right: 175px;
    position: absolute;
    font-size: 25px;
    color: black;
    border: 3px solid transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #1abad7, grey );
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.signin-btn span {
    display: block;
    padding: 5px 15px;
}

.slogan {
    font-size: 60px;
    font-style: italic;
    position: absolute;
    bottom: 0px;
    left: 20px;
    text-shadow: 5px 5px 5px black;
}

.slogan-special {
    color: #1abad7;
    font-size: 60px;

    position: absolute;
    bottom: 0px;
    left: 20px;
    text-shadow: 5px 5px 5px black;
}

h1.non-home-title {
    text-align: right;
    font-size: 50px;
    text-shadow: 2px 2px 2px black;
    
}

h2 {
    color: #1abad7;
    padding-left: 30px;
    margin-left: 50px;
    font-size: 35px;
}

.about-info-picture {
    padding-top: 0;
    width: 41%;
    float: right;
}

.about-info-picture img{
    width: 80%;
    margin-top: -60px;
    margin-left: 50px;
}

h3 {
    color: #1abad7;
}

h4 {
    font-size: 22px;
    color: black;
    margin-left: 0px;
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
    margin-top: 40px;
}

a:hover {
    color: #1abad7;
}

