<!DOCTYPE html>
<html lang="en">
<head>
    <title>Commercial Cleaning Services</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/a style.css}">
    <link rel="stylesheet" th:href="@{/footer styles.css}">
    <link rel="stylesheet" th:href="@{/index service.css}">
    
    
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li class="menu logo"><a th:href="@{/}">BIG LOGO</a></li>
                <li><a th:href="@{/about}">ABOUT</a></li>
                <li><a th:href="@{/howitwork}">HOW IT WORKS</a></li>
                <li><a th:href="@{/service}">SERVICES</a></li>
                <li><a th:href="@{/contact}">CONTACT</a></li>
                <li><a th:href="@{/login}" class="signin-btn"><span> SIGN IN</span></a></li>
                <li><a th:href="@{/signup}" class="signup-btn"><span> SIGN UP</span></a></li>
            </ul>
        </nav>
    </header>
    
    <section class="one">
        
        <h1 class="slogan-special"></h1>
        <h1 class="slogan"><p>The best cleaning experience</p></h1>
    </section>

    <section class="about-index-title">
        <h2>ABOUT</h2>
    </section>

    <section class="about-info" >
            <div class="about-info-picture">
                    <img src="images/commercial.jpg" alt="">
                </div>
        <h4 class="small-questions">Why <i>THE SHINING</i>?</h4>
        <div>We are a team of veterans with over 10 years of experience in commercial and industrial cleaning....</div>
        <h4 class="small-questions">Our mission</h4>
        <div>We are on a mission to develop, operate and complement your business to perfection by giving you the best service available...</div>
        <h4>Our vision</h4>
        <div>Our vision is to be the local leaders and industry pioneers by giving you a first-hand experience.</div>
        
    </section>

  
    <section class="service-index-title">
        <h2>SERVICES</h2>
    </section>

    <section class="service-info" >
        <div class="image-service-info">
                <img src="../stactic/images/Services/carpet-blue-1.jpg" th:src="@{/images/Service/carpet-blue-1.jpg}" alt="carpet blue background">
                <div class="caption">Carpet Cleaning</div>
            </div>
        <div class="image-service-info">
                <img src="images/Service/furniture-blue.jpg" alt="furniture blue background">
                <div class="caption">Furniture Cleaning</div>
            </div>
        <div class="image-service-info">
                <img src="images/Service/wall-blue.jpg" alt="wall blue background">
                <div class="caption">Wall Washing</div>
            </div>
        
    </section>

    <section class="service-info">
        <div class="image-service-info">
            <img src="images/Service/floor-blue.jpeg" alt="floor blue background">
            <div class="caption">Floor Cleaning</div>
        </div>
    <div class="image-service-info">
            <img src="images/Service/draperies-blue.jpg" alt="draperies blue background">
            <div class="caption">Draperies Cleaning</div>
        </div>
    <div class="image-service-info">
            <img src="images/Service/air-blue.jpg" alt="carpet blue background">
            <div class="caption">Air-quality Testing</div>
        </div>
    </section>

    <footer class="footer-distributed">
        <div class="footer-left">
            <img src="images/logo 2.png" alt="">
        </div>

        <div class="footer-center">
            <h3>Contacts</h3>
            <section class="two" >
        <div>
            <p>International University</p>
        </div>

        <div>
            <p>se_project@gmail.com</p>
        </div>

        <div>
            <p>+84 123 456 789</p>
        </div>
    </section>
        </div>
    
        <div class="footer-right">
            <h3>Useful Links</h3>
                <p class="footer-links">
                    <a th:href="@{/}">HOME</a>
                    |
                    <a th:href="@{/about}">ABOUT</a>
                    |
                    <a th:href="@{/service}">SERVICES</a>
                    |
                    <a th:href="@{/contact}">CONTACTS</a>
                </p>

                <p>© #STAINLESS Cleaning Company</p>
        </div>
    </footer>
</body>
</html>