<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/a style.css}">
    <link rel="stylesheet" th:href="@{/footer styles.css}">
    <link rel="stylesheet" th:href="@{/about.css}">
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li class="menu logo"><a th:href="@{/user}">BIG LOGO</a></li>
                <li><a th:href="@{/user/about}" class="active">ABOUT</a></li>
                <li><a th:href="@{/user/howitwork}">HOW IT WORKS</a></li>
                <li><a th:href="@{/user/service}">SERVICES</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="one-about">
        <h1 class="non-home-title">ABOUT US</h1>
    </section>

    
    <section class="about-info" >
            <h3 class="motto"><i>Sparkling, stainless and perfect</i></h3>
        <h4 class="small-questions">OUR STORY</h4>
        <div class="answer">THE SHINING was established on December 18th, 2019, by 3 ordinary students with 1 big dream - <i>TO MAKE THE WORLD SHINES. </i> Beginning with their small project in the university, 
        they have follow their desire and develop that project into a big commercial cleaning company.<br><br>Today, it is our pleasure and privilege to serve and deliver to you the best house cleaning experience.</div>
       
        <h4 class="small-questions">THE NAME</h4>
        <div class="answer">Our brand is based on the name of the famous horror movie in 1980, with a little bit sarcastic in the idea.</div>
       
        <h4 class="small-questions">WHY THE SHINING?</h4>
        <div class="answer">Experience makes the difference. With the team of over 1000 employers and employees, THE SHINING guarantees to bring you the ultimate commercial cleaning service.
            <br><ul class="why-choose-us">
                    <li class="reason">+ PROFESSIONAL CLEANERS +</li>
                    <li class="reason">+ VARIOUS SERVICES +</li>
                    <li class="reason">+ AFFORDABLE PRICES +</li>
                    <li class="reason">+ EXPLICIT WORKING METHOD +</li>
                </ul>
        </div>
            

        <h4 class="small-questions">OUR MISSION</h4>
        <div class="answer">THE SHINING is on a mission to transform your need of house cleaning into the best service available.<br>Your satisfaction is our success.</div>
       
        <h4 class="small-questions">OUR VISION</h4>
        <div class="answer">Our vision is to become one of the best commercial cleaning companies. We want to provide a nice, safe and smart working environment for both workers and customers. 
            Through that, we will be able to provide the best serivces to satisfy your demand of cleaning. </div>
        
    </section>



    <footer class="footer-distributed">
        <div class="footer-left">
            <img src="Images/logo 2.png" alt="">
        </div>

        <div class="footer-center">
            <h3>Contacts</h3>
            <div>
            <p>International University</p>
        </div>

        <div>
            <p>se_project@gmail.com</p>
        </div>

        <div>
            <p>+84 123 456 789</p>
        </div>
        </div>
    
        <div class="footer-right">
            <h3>Useful Links</h3>
                <p class="footer-links">
                	|
                    <a th:href="@{/user}">HOME</a>
                    |
                    <a th:href="@{/user/about}">ABOUT</a>
                    |
                    <a th:href="@{/user/service}">SERVICES</a>
                    |
                </p>

                <p>The SHINING Company</p>
        </div>


    </footer>
</body>
</html>